<?xml version="1.0" encoding="UTF-8"?>
<web-app 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	version="3.0"
>

  <display-name>LibraryFinder</display-name>
  
  <servlet>
		<servlet-name>Finder</servlet-name>
		<servlet-class>com.sorbonne.daar.servlets.Finder</servlet-class>
	</servlet>
	<servlet-mapping>
	    <servlet-name>Finder</servlet-name>
	    <url-pattern>/finder</url-pattern>
  </servlet-mapping>
  
  <servlet>
		<servlet-name>KeywordFinder</servlet-name>
		<servlet-class>com.sorbonne.daar.servlets.KeywordFinder</servlet-class>
	</servlet>
	<servlet-mapping>
	    <servlet-name>KeywordFinder</servlet-name>
	    <url-pattern>/keywordFinder</url-pattern>
  </servlet-mapping>
  
  <servlet>
		<servlet-name>RegExFinder</servlet-name>
		<servlet-class>com.sorbonne.daar.servlets.RegExFinder</servlet-class>
	</servlet>
	<servlet-mapping>
	    <servlet-name>RegExFinder</servlet-name>
	    <url-pattern>/regExFinder</url-pattern>
  </servlet-mapping>

</web-app>